{% extends "base.html" %}

{% block js %} 

<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
<script>
const data = "{{ price }}" ;
const name = "{{ name }}";

</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock%}

{% block css %}

<style>

table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

</style>

{% endblock %}

{% block main %}
  <!-- <div class="login-form text-center custom-middle">

    <div class="form-container">

      <h4>purchase of item [[ mess ]]</h4>

      <h4 v-if="amount > 0">price is [[ price * amount ]]</h4>

      {% include 'flash_messages.html' %}

      <form action="{{ url_for('purchase') }}" method="POST" id="uploadForm">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control" id="username" name="username" placeholder="user" required>
        </div>
        <div class="form-group">
            
            <input type="hidden" class="form-control" id="username" name="id" placeholder="user" value = "{{ id }}" >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" name="amt" v-model="amount">
        </div>
        <div class="form-group">
            <label for="amount">Credit card number</label>
            <input type="text" class="form-control" id="credit"  name="credit_card">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>
  </div> -->
  <form action="{{ url_for('purchase') }}" method="POST" id="uploadForm">
    
      {% include 'flash_messages.html' %}
      {{ form.csrf_token }}
  <table id="cart" class="table table-hover table-condensed custom-middle">
      <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:8%">Credit card</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-th="Product">
          <div class="row">
            
            <div class="col-sm-10">
              <h4 class="nomargin">[[ mess ]]</h4>
              <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </td>
        <td data-th="Price">$[[ price ]]</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" value="1" v-model="amount" name="amt">
          <input type="hidden" class="form-control" id="username" name="id" placeholder="user" value = "{{ id }}" >
        </td>
        <td data-th="Card number">
            <input type="text" class="form-control text-center"  name="credit_card">
          </td>
        <td data-th="Subtotal" class="text-center">[[ price ]]</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
        </td>
      </tr>
    </tbody>
    <tfoot>
      
      <tr>
        
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total $[[ price * amount ]]</strong></td>
        <td><button class="btn btn-success btn-block">Purchase <i class="fa fa-angle-right"></i></button></td>
      </tr>
    </tfoot>
  </table>
  <form>
{% endblock %}